@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Playfair Display', serif;
  --gutter: 1em;
  --lg-font-size: 3em;
  --sm-font-size: 1.4em;
  --xs-font-size: 1em;
  --title-weight: 800;
  --med-weight: 700;
  --detail-weight: 400;
  --link-color: black;
  --main-text-color: black;
  --hover-color: #7C9B5C;
  --micro-detail: 3px;
}

html > * {
  padding: 0;
  margin: 0;
}

[href] {
  text-decoration: none;
  color: var(--main-text-color);
}

[href]:hover {
  color: var(--hover-color);
}

input {
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7vw;
  padding: 0 var(--gutter);
}

.nav-button {
  padding: .1em .1em;
  border-radius: var(--micro-detail);
  font-size: calc(var(--sm-font-size)*.9);
  padding: 0 calc(var(--gutter)* .5);
  transition: 1s;
}

.nav-button:hover {
  transform: translateY(-5px);
  text-shadow: -2px 6px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.recipeLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 70vw;
  height: 75vh;
  margin: 4vw 0 0 10vw;
  padding: 0 0 0 5vw;
}

.recipeIndexLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  max-width: 70vw;
  height: 75vh;
  margin: 4vw 0 0 10vw;
  padding: 0 0 0 5vw;
  }

.recipeLayout > * {
  padding: 0;
  margin: 0;
}

.name {
  font-size: 2rem;
  opacity: initial;
}

.instructions, .ingredients {
  font-weight: var(--detail-weight);
  margin: 2vh 2vh 2vh 5vh;
}

.main-title {
  font-size: var(--lg-font-size);
}

.rating {
  font-size: 1rem;
}

#green-button {
  background-color:var(--hover-color);
}

#tag-button {
  padding: .8px;
  font-size: .6rem;
}

.tags {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: oblique;
}

.tags > * {
  padding: 0 1rem;
}

.tag-label {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.tags-container {
  display: flex;
  margin: .5em .8em .8em 1.4em;
}

.recipe-links {
  display: flex;
  margin: 10vw 0 0 0;
}

.recipe-links span > * {
  padding: 1em 1em 1em 0;
  font-weight: var(--detail-weight);
}


  