@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h4>Add a new tag</h4>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600; color:red;" })</p>
  @Html.Label("Tag:")
  @Html.TextBoxFor(model => model.Title)
  <br><br>
  <input type="submit" value="Add new tag" class="btn btn-default" />
}

<div class="recipe-links">
  <span>@Html.ActionLink(".Show all tags", "Index")</span>
</div>